body {
	margin: 0;
	font-family: 'Righteous', cursive;
}
#win-lose {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #3399ff;
	top: 0%;
	animation-duration: 2s;
}

#win-lose h1, #win-lose button, #win-lose i {
	position: fixed;
	left: 50%;
	transform: translate(-50%, -50%);
}

#win-lose h1 {
	top: 50%;
}

#win-lose button {
	top: 60%;
	border: none;
	outline: none;
	font-family: 'Righteous', cursive;
}

#win-lose i {
	top: 96%;
	display: none;
	animation-duration: 2s;
}

#board {
	height: 700px;
	width: 400px;
	background-color: #2A363B;
	padding: 5px;
}

.line {
	height: 53px;
	width: 350px;
	background-color: red;
	margin: 5px;
	display: flex;
}

#lineR {
	display: none;
}

.pin, .spin {
	background-color: darkgrey;
	border-radius: 50%;
	margin: 2px;
	border: 1px solid black;
	outline: none;
}

.pin {
	height: 50px;
	width: 50px;
	cursor: pointer;
}

.spin {
	height: 20px;
	width: 20px;
}

.spins {
	height: 52px;
	width: 52px;
	display: flex;
	flex-wrap: wrap;
}

#pin-red {
	background-color: red;
}
#pin-black {
	background-color: black;
}
#pin-white {
	background-color: white;
}
#pin-blue {
	background-color: blue;
}
#pin-green {
	background-color: green;
}
#pin-yellow {
	background-color: yellow;
}

@keyframes slide-down {
	0% {
		transform: translate(0%, -100%);
	}
	100% {
    	transform: translate(0%, 0%);
  	}
}

@keyframes slide-up {
	0% {
		transform: translate(0%, 0%);
	}
	100% {
    	transform: translate(0%, -100%);
  	}
}

@keyframes slide-up-little {
	0% {
		transform: translate(0%, 0%);
		filter: opacity(1);
	}
	100% {
    	transform: translate(0%, -90%);
    	filter: opacity(0.5);
  	}
}

@keyframes slide-up-arrow {
	0% {
		transform: translate(0%, 96%);
		transform: rotate(0deg);
	}
	100% {
    	transform: translate(0%, 50%);
    	transform: rotate(180deg);
  	}
}